@page "/"

<PageTitle>Описание.</PageTitle>

<h1>Приложение по контролю изменения цен на товары и формированию ценников.</h1>

<p>a.	UI через WebService Blazor WebAssembly Application.</p>
<p>b.	Есть входной файл Excel c данными продуктов  вида: наименование товара, стоимость.</p>
<p>
  c.	Программа должна его обработать: сформировать отчет для печати в excel для позиций, на которые цена изменилась, предыдущий файл
  является базовым для нового
</p>
<p>d.	Возможность печати всех ценников (вывод их в excel), вне зависимости от того именилась цена или нет.</p>
<p>e.	Возможность загрузить новый файл</p>
<p>f.	Сортировка по сумме, сортировка по наименования товара</p>
<p>g.	[1] Натуральная сортировка по наименованию</p>
<p>h.	[1] Реализация через web (загружаем файл, скачиваем результат)</p>
<p>i.	Написаны тесты, код оформлен по стандарту </p>










