@page "/inputdialog"
@using ExcelService
@using ProductLibrary
@using ProductLibrary.Exceptions
@using ProductLibrary.Model

@inject ProductRepo repo

<h3>Введите данные.</h3>

<div class="row">    
    <div class="col">
      <input class="form-control" placeholder="Введите наименование" @bind="name"></input>
    </div>
    <div class="col">
      <input class="form-control" placeholder="Введите производителя" @bind="manufacturer"></input>
    </div>
    <div class="col">
      <input class="form-control" placeholder="Введите цену" @bind="price"></input>
    </div>
 </div>

 <a href="pricelist" class="btn btn-primary">Ok</a>
 <a href="pricelist" class="btn btn-primary">Cancel</a> 

@code {
  public string id="";
  public string typeName = "";
  public string name = "";
  public decimal price;
  public string manufacturer = "";


}
