@page "/pricelist"
@using ExcelService
@using ProductLibrary
@using ProductLibrary.Exceptions
@using ProductLibrary.Model
@using System.IO

@inject ProductRepo repo
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<PageTitle>Прайс-лист продуктов</PageTitle>

<h1>Прайс-лист продуктов</h1>

@if (repo == null)
{
  <p><em>Loading...</em></p>
}
else
{  
   <a href="findinputdialog" class="btn btn-primary">Найти</a>
   <a href="addinputdialog" class="btn btn-primary">Добавить</a>
   <a href="deleteinputdialog" class="btn btn-primary">Удалить</a>      
   <button class="btn btn-primary" @onclick="SortByName">Сортировать по названию</button>
   <button class="btn btn-primary" @onclick="SortByPrice">Сортировать по цене</button>
   <p></p>
   <WebService.Pages.UploadFile @ref="_modal"></WebService.Pages.UploadFile>
   <button class="btn btn-primary" @onclick="() => _modal?.UploadNewFile()">Загрузить новый файл</button>
   <button class="btn btn-primary" @onclick="() => _modal?.GenerateReport()">Отчет об измененнии цен</button>
   <button class="btn btn-primary" @onclick="PrintPriceTags">Файл с ценниками</button>
     
  <table class="table">
    <thead>
      <tr>
        <th>Идентификатор</th>        
        <th>Наименование</th>
        <th>Производитель</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var product in _list)
      {
        <tr>
          <td>@product.Id</td>          
          <td>@product.Name</td>
          <td>@product.Manufacturer</td>
          <td>@product.Price</td>
        </tr>
      }
    </tbody>
  </table>
      
}

@code {
  private WebService.Pages.UploadFile? _modal { get; set; }   
  private ExcelService _excelService = new(ExcelServiceConstants.BlazorData);
  private List<Product> _list = new();

  protected override async Task OnInitializedAsync()
  {
    repo.Clear();
    try
    {
      var listFromfile = _excelService.LoadFromFile(ExcelServiceConstants.BlazorData);
      repo.AddRange(listFromfile);
    }
    catch (ValidationException ex)
    { 
      await JS.InvokeVoidAsync("alert", ex.Message); 
    }
    catch (InvalidOperationException ex)
    { 
      await JS.InvokeVoidAsync("alert", ex.Message);
    }
    _list = repo.GetAll().ToList();
    await Task.CompletedTask;
  }

  internal async Task SortByName()
  {
    try
    {
      var sortedList = repo.SortedByName();
      await _excelService.SaveToFileAsync(sortedList, ExcelServiceConstants.BlazorData);
    }
    catch (ValidationException ex)
    {
      await JS.InvokeVoidAsync("alert", ex.Message);
    }
    catch (InvalidOperationException ex)
    { 
      await JS.InvokeVoidAsync("alert", ex.Message);
    }
    await OnInitializedAsync();
  }

  internal async Task SortByPrice()
  {
    try
    {
      var sortedList = repo.SortedtByPrice();
      await _excelService.SaveToFileAsync(sortedList, ExcelServiceConstants.BlazorData);
    }
    catch (ValidationException ex)
    {
      await JS.InvokeVoidAsync("alert", ex.Message);
    }
    catch (InvalidOperationException ex)
    { 
      await JS.InvokeVoidAsync("alert", ex.Message);
    }
    await OnInitializedAsync();
  }

  internal async Task PrintPriceTags()
  {
    try
    {
      await _excelService.PrintAllPriceTagsAsync(repo.GetAll(), ExcelServiceConstants.BlazorData);
      var PriceTagsFilePath = Path.Combine(ExcelServiceConstants.BlazorData, ExcelServiceConstants.PriceTagsFileName);
      var fileStream = File.OpenRead(PriceTagsFilePath);
      using var streamRef = new DotNetStreamReference(stream: fileStream);
      await JS.InvokeVoidAsync("downloadFileFromStream", ExcelServiceConstants.PriceTagsFileName, streamRef);
    }
    catch (FileNotFoundException ex)
    {
      await JS.InvokeVoidAsync("alert", ex.Message);
    }
    catch (InvalidOperationException ex)
    { 
      await JS.InvokeVoidAsync("alert", ex.Message);
    }
   }  
}